div{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  height:2em;
  text-decoration-color: white;
  border-style:none;
  border-radius:3px;
  margin:4px;
}
main{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  background-color:#B9FAFC;
  padding: 20px;
  border-radius:20px;
}
input{
  border-radius: 5px;
  margin:4px;
  border-style:none;
  width:150px;
  height: 30px;
}
button[type=submit]{
  background-color: #F87F77 ;
  width:200px;
  height:25px;
  color:white;
  margin:1em;
  border-style:none;
  border-radius:5px;
}
